#footer{
    background-color: rgb(24, 23, 23);
    color: white;
    border: none;
}

#links {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.628);
}

#linksblack {
    text-decoration: none;
    color: black;
}